      body{
      background-color: #222831 ;
  }

  #header {
     width: 100vw;
  }

  #Instagram {
      float: left;
      width: 40vw;
      margin-left: 5vw;
      margin-top: 3vw;
  }

  #FaceBook {
      float: right;
      position: relative;
      width: 40vw;
      margin-top: 3vw;
      margin-right: 5vw;
  }

  #pinterest {
      float: left;
      width: 40vw;
      margin-left: 5vw;
      margin-top: 8vw;
  }

  #blog {
     float: right;
     position: relative;
     width: 40vw;
     margin-top: 8vw;
     margin-right: 5vw;
  }

  @media screen and (min-width: 1200px){
      #header {
           display: block;
           margin-left: auto;
           margin-right: auto;
           width: 800px;
       }

       #Instagram {
           float: left;
           width: 300px;
           margin-left: 25%;
           margin-top: 3vw;
       }

       #FaceBook {
           float: center;
           position: relative;
           width: 300px;
           margin-top: 3vw;
           margin-right: 25%;
       }

       #Pinterest {
          float: left;
          width: 300px;
          margin-left: 25%;
          margin-top: 3vw;
      }
      
      #Blog {
         float: center;
         position: relative;
         width: 300px;
         margin-top: 3vw;
         margin-right: 25%;
      }

  }
